{% extends "base.html" %}

{% block content %}


{% comment %} <div class="con-Tai-Ner py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">
                    Create Account
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label>First Name</label>
                        <input
                            type="text"
                            name="first_name"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label>Last Name</label>
                        <input
                            type="text"
                            name="last_name"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label>Nickname (Optional)</label>
                        <input
                            type="text"
                            name="nickname"
                            class="form-control"
                            placeholder="e.g. rider">
                    </div>

                    <div class="mb-3">
                        <label>Username</label>
                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="e.g. john.doe@example.com"
                            required>
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input
                            type="password"
                            name="password1"
                            class="form-control"
                            required >

                    </div>

                    <div class="mb-4">
                        <label>Confirm Password</label>
                        <input
                            type="password"
                            name="password2"
                            class="form-control"
                            required>
                    </div>

                    <button class="btn btn-danger w-100">
                        Create Account
                    </button>

                </form>

                <p class="text-center mt-3">
                    Already have an account?

                    <a href="{% url 'signin' %}">
                        Sign In
                    </a>
                </p>

            </div>

        </div>

    </div>

</div> {% endcomment %}



<div class="con-Tai-Ner py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6 ">

            <div class="card shadow p-4">

                <h2 class="text-center fw-bold mb-2">
                    Welcome! 
                </h2>

                <p class="text-center text-muted mb-4">
                    Sign in to Skylite Fitness
                </p> 
                <h6> You need to signin or signup  before continuing </h6>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">
                            Username
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-danger w-100">
                        Sign In
                    </button>

                </form>
                <div class="bottom-bottom">
                <p class="text-center mt-4 mb-0">
                    Don't have an account?

                 <a href="{% url 'signup' %}">
                    Create Account 
                    </a>
                </p>
            </div>

            </div>

        </div>

    </div>

</div>








{% endblock %}