{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>

<section class="hero-1"  data-aos="fade-right">
    
    <div class="hero-text  col-lg-6 col-md-6 col-sm-12" >
            <h1 class="center " > WELCOME TO SKYLITE FITNESS  </h1> 
        
             <h1>We are the best at<br>fulfilling your potential<br>and achieving your goals.</h1>
        <p>
            Helping you stay fit, healthy and strong with personalized
            training programs and professional guidance.
        </p>

        
<div class="features-pause d-flex align-items-start mg-4">

  <div class="icon-img me-3">
    <img src="{% static 'images/icon-1.png' %}"  class="img-fluid">

  </div>

  {% comment %} <div class="icon-img me-3">
     <img src="{% static 'images/icon-2.png' %}" class="img-fluid">

</div> {% endcomment %}
    
  <div class="fw-bold"> 
    <h6> Free Fitness Training </h6>

    {% comment %} <h6> Abodminial training  </h6> {% endcomment %}

  </div>

</div>

        <div class="hero-buttons">
            <a href="https://madmuscles.com/funnel/military-unsx-v2/quiz/military-596?stepId=step-ever&utm_source=google_perf-max&utm_medium=&utm_campaign=23415014856&utm_content=&device=c&utm_term=&camp_name=&utm_target=v%28calisthenics%29_tm1%28calisthenics%29_tm2%28%29&gad_source=2&gad_campaignid=23420035805&gclid=CjwKCAjwhe3OBhABEiwA6392zBYZxLBxZyVHynMUsCgY7F7l5tSKL9x3CbqQN1CmH8Flsl83T1HcZRoCXJ8QAvD_BwE" class="btn primary">Training Programs</a>
            <a href="#" class="btn">Our Vision</a>
           
        </div>
    </div>

    <div class="copying-img">
        <img src="{% static 'images/about-2.png' %}" alt="Trainer" class="img-fluid">
    </div>
    </div>
</section>



<section class="about"> 
    <div class="best">
    <h1> complete your possibilites, achieve your fitness goals  </h1>
    <p> The Best gym center is now in Your city, Always ready to help you achieve your fitness goals.
        We are committed to providing a safe and welcoming environment for all our members, regardless of their
        fitness level or background. Our team of experienced trainers and staff are dedicated to helping you
        reach your full potential and live a healthier, happier life. Join us today and start your fitness journey
         with us! 
        </p>
    </div>

      <div class="hero-image">
        <img src="{% static 'images/feature-2.jpg' %}" alt="Trainer" class="img-fluid">
        
    </div>

      <div class="hero-buttons">
            <a href="https://youtu.be/swOw6BAXc7g?si=mdUc86pJWGgxQrf7" class="btn primary"> Daily Morning Workout </a>
            <a href="https://youtu.be/37UhELFvPec?si=g-qgkIhvcbKkDFfL" class="btn">Learn more </a>
            <a href="#" class="btn">Our Goal</a>
        </div>

</section>

<section class=" py-5 contact-section">
    <div class="text-center mb-5">
        <h2 class="section-subtitle">why choose us </h2>
        <p class="section-title">we provided proffesional fitness training solutions 
          tailored to your needs and goals, with expert guidance and support 
          to help you achieve your best self. </h2>
        </p>
    </div>

    <div class=" row g-4 contact-grid"> 
        <div class="col-lg-4 col-md-6  contact-card p-4">
             {% comment %} <i class="fas fa-phone-alt"></i> {% endcomment %}
            {% comment %} <i class="fas fa-phone-alt"></i> {% endcomment %}
            <h3> Expect Trainers </h3>
            <p>Our trainers are highly qualified and experienced in helping you achieve your fitness goals.</p>
           
        </div>

        <div class=" col-lg-4 col-md-6  contact-card p-4">
            {% comment %} <i class="fas fa-map-marker-alt"></i> {% endcomment %}
            <h3>personalised plans </h3>
            <p>  Nutrition and training programs buuilt for you  </p>
            
            
        </div>

        <div class="col-lg-4 col-md-6  contact-card p-4 ">
            {% comment %} <i class="far fa-envelope"></i> {% endcomment %}
            <h3>Corporate Plans </h3>
            <p>Customized wellness programs for organizations.</p>
            
        </div>

        <div class=" col-lg-4 col-md-6 contact-card p-4">
            <h3> Smart Bmi analysis </h3>
             <p>Instant feedback on your body mass index.</p>

        </div>

         <div class=" col-lg-4 col-md-6 contact-kiss p-4">
            
            <h3>training  HOURS</h3>
            <p>Mon-Sat 09:00-20:00</p>
            <p>Sun 10:00-18:00</p>
        </div>
      

    </div>


</section>


<section class="py-5 position relative">
    <p class="goals"> complete your possability 
        achieve your 
        fitness Goals </p> 

    <div class="CONTAINER">
        <div class="col-lg-4">
            
            <div class="featuring-box d-flex align-items-start- mb-4">
                <div class="iconE-box"> 
                        <img src="{% static 'images/icon-5.png' %}"  class="img-fluid">
                </div>

                <div class="copy"> 
                    <h6> boxing class   </h6>
                    <p> get in touch with boxing  equipment  </p>
                </div>

        </div>
                <div class="featuring-box d-flex align-items-start- mb-4">
                    <div class="iconE-box"> 
                            <img src="{% static 'images/icon-6.png' %}"  class="img-fluid">
                    </div>
    
                    <div class="copy"> 
                        <h6> cardo class   </h6>
                        <p> lorem epusu </p>
                    </div>
        </div>

         <div class="featuring-box d-flex align-items-start- mb-4">
                <div class="iconE-box"> 
                        <img src="{% static 'images/icon-1.png' %}"  class="img-fluid">
                </div>

                <div class="copy"> 
                    <h6> Power liftimg class  </h6>
                    <p> achieve you fitness goals with us  </p>
                </div>

        </div> 

        <div class="content">
           <a href="#" class="">Join us</a>
         </div>
</section>

<section class="trainer-section py-5" >
    <center class="trainers-home">
        <h6>MEET OUR TRAINERS</h6>
        <h1>Our Expert Team</h1>

        <p class="lead">Our team of expert trainers is dedicated to helping you achieve your fitness goals. 
            With a wealth of experience and a passion for fitness, our trainers are here to
             guide you every step of the way. Whether you're looking to lose weight, build muscle, 
             or improve your overall health, our trainers will create a 
             personalized workout plan tailored to your needs and goals. Join us today and let our
              expert team help you transform your body and mind.</p>

        </center>

    <div class="row g-4">
        
        {% comment %} Trainer 1 {% endcomment %}

       <div class="col-lg-3 col-md-6">
<div class="trainer-card">

<img src="{% static 'images/team-1.jpg' %}" class="img-fluid">

<div class="trainer-info text-center">
<h6 class="fw-bold">Jessica </h6>
{% comment %} <p class="text-muted small">Fitness Coach</p> {% endcomment %}
</div>

</div>
</div>

<!-- Trainer 2 -->
<div class="col-lg-3 col-md-6">
<div class="trainer-card">

<img src="{% static 'images/team-2.jpg' %}" class="img-fluid">

{% comment %} <div class="trainer-social">
<a href="#">F</a>
<a href="#">T</a>
<a href="#">I</a>
<a href="#">L</a>
</div> {% endcomment %}

<div class="trainer-info text-center">
 <h6 class="fw-bold">Kingsley Ben-Adir </h6>   
{% comment %} <h6 class="fw-bold">{{trainer.name }}</h6> {% endcomment %}
{% comment %} <p class="text-muted small"> {{trainer.role}}</p> {% endcomment %}
</div>

</div>
</div>

<!-- Trainer 3 -->
<div class="col-lg-3 col-md-6">
<div class="trainer-card">

<img src="{% static 'images/team-3.jpg' %}" class="img-fluid">

{% comment %} <div class="trainer-social">
<a href="#">F</a>
<a href="#">T</a>
<a href="#">I</a>
<a href="#">L</a>
</div> {% endcomment %}

<div class="trainer-info text-center"> 

{% comment %} <h6 class="fw-bold">{{trainer.name }}</h6> {% endcomment %}

<h6 class="fw-bold">Tomson Luna  </h6>

{% comment %} <p class="text-muted small"> {{trainer.role}}</p> {% endcomment %}
</div>

</div>
</div>

<!-- Trainer 4 -->
<div class="col-lg-3 col-md-6">
<div class="trainer-card">

<img src="{% static 'images/team-4.jpg' %}" class="img-fluid">



<div class="trainer-info text-center">

    <h6 class="fw-bold">Jack Areton </h6>
    
{% comment %} <h6 class="fw-bold">{{trainer.name }}</h6> {% endcomment %}
{% comment %} <p class="text-muted small"> {{trainer.role}}</p> {% endcomment %}
</div>

</div>
</div>

</div>
  
</section>

   <section class="faq-section ">
         <a href="{/home}" class="back-arrow">
            {% comment %} <i class="fa-solid fa-arrow-up"></i> {% endcomment %}  
        </a> 

        <h1 class="H-txt">Frequently Asked Questions</h1>
 
        <div class="accord-wrapper d-flexx">
            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <button class="accordion-header">What services does SKYLITE provide?</button>
                    <div class="accordion-body">
                        <p>SKYLITE offers a range of fitness services including personal training, group classes, nutrition counseling, and wellness consultations.</p>
                    </div>
                </div>

                <div class="accordion-item">
          
                    <button class="accordion-header">How can I book a personal training session?</button>
                    <div class="accordion-body">
                        <p>You can book our services through our website by clicking on the "Get Started" button or by contacting our customer service team.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-header">Are your fitness professionals qualified?</button>
                    <div class="accordion-body">
                        <p>Yes, all our fitness professionals are licensed and experienced in their respective fields to ensure you receive the best training possible.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-header">What areas do you serve?</button>
                    <div class="accordion-body">
                        <p>We currently serve multiple locations. Please check our website or contact us for specific area coverage.</p>
                    </div>
                </div>

                   <div class="accordion-item">
                    <button class="accordion-header">Can beginners use SKYLITE services?</button>
                    <div class="accordion-body">
                        <p> Absolutely, Skylite is designed for people at different Fitness levels, 
                            inclluding beginners, you can start with a simple routines and gradually increase the 
                            intensity as your strength, endurance and confidence improve.
                        </p>
                    </div>
                </div>

            
        </div>

         <div class="accord-image ">
            {% comment %} <img src="{% static 'images/carousel-1.jpg' %}" 
            alt="Frequently Asked Questions" > {% endcomment %}
                 
            </div>
    </section>


</body>
<script src="{% static 'js/scripts.js' %}">
    const accordionHeaders = document.querySelectorAll(".accordion-header");

accordionHeaders.forEach((header) => {

    header.addEventListener("click", () => {

        const body = header.nextElementSibling;

        header.classList.toggle("active");

        if (body.style.maxHeight) {
            body.style.maxHeight = null;
        } else {
            body.style.maxHeight = body.scrollHeight + "px";
        }

    });

});
</script>

{% endblock %}
